{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome {{user.username}}
  <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="login-button">Logout</button>
  </form>
{% else %}
  <p> You are not logged in.</p>
  <a href="{% url 'login' %}" class = "login-button">Login</a>
  <span class="or-text">or</span>
  <a href="{% url 'register' %}" class="blink-button">Register Here</a>
{% endif %}
{% endblock %}